<header>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-primary-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/global/site-logo.png"></a>
      </div>
      <div class="collapse navbar-collapse navbar-nav navbar-right" id="navbar-primary-collapse">
        <ul class="nav">
            <li><a href="{{ site.baseurl }}/exchanges">Exchanges</a></li>
            <li><a href="https://explorer.nubits.com/">Explorer</a></li>
            <li><a href="https://discuss.nubits.com/">Forum</a></li>
            <li class="last"><a href="{{ site.baseurl }}/wallet">Get Wallet</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
